.app {
  color: blue;
  background-color: rgba(0, 0, 0, 0.692);
}
.app form {
  width: 600px;
}
.app button {
  background-color: cadetblue;
  border-color: cadetblue;
}
.cars {
  width: 200px;
  background-color: rgb(0 0 0 / 8%);
}

.app input[type="text"] {
  width: 100%;
  padding: 10px 12px;
  box-sizing: border-box;
  background-color: darkgrey;
  color: blue;
  text-align: center;
}

.delButton {
  border-radius: 30%;
  color: red;
  float: right;
  box-shadow: darkblue;
}
.addCar {
  width: 80%;
  margin-left: 10%;
  border-radius: 50%;
}

.saveButon {
  width: 100%;
  color: blue;
  border-radius: 10%;
  background-color: lightsteelblue;
  font-size: 20px;
  margin-top: 5px;
}
.Form {
  margin-top: 20px;
  border-style: groove;
  border-color: rgb(185, 185, 233);
  border-radius: 2px;
  padding: 20px;
  border-radius: 10%;
}
.addForm {
  width: 200px;
  margin-top: 20px;
  margin-left: 20px;
}
